<div id="third_background">
	<%= image_tag("emma-profile.jpg", :alt => "Oops! This picture won't load...") %>
</div>

<!-- Hello! I'm Emma Flock, a Full Stack Ruby on Rails Engineer. -->

<div id="right_content">

	<% @greetingT = "Hello! I'm Emma Flock, a Full Stack Ruby on Rails Engineer." %>
	</br><h1><%= link_to @greetingT, :root, :class => "greeting" %></h1></br></br>
	<h3> Would you like to create, update, customize or add complex functionality to your website? 
	</br>	
	I can help, and am currently available for hire.</h3>

	<div class="contact_lists">
		<span class="list_title">Contact me by:</span>
		<ul class="clists">
			<li><a href='mailto:emmaf9@gmail.com?subject=This+is+a+test'>Sending me an email</a>, or</li>
			<li><a href="http://www.linkedin.com/pub/emma-flock/55/909/53/">Connecting with me on LinkedIn!</a></li>
		</ul></br></br>

		<span class="list_title">Feel free to also:</span>
		<ul class="clists">
			<li><a href="http://github.com/em-gazelle">View my Github Profile.</a></li>
			<li><a href="http://inevitablyblankcanvas.wordpress.com/">Visit my Blog.</a></li>
			<li><%= link_to 'View my Resume', resume_path %></li>
		</ul>
	</div>
</div>