/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require 'contact'
 *= require 'portfolio'
 *= require_tree .
 */

a {
	text-decoration: none;
	color:inherit;
}

ul {
	list-style-type: none;
}


/*Content from portfolio.css*/

#first_background {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
}

#first_background img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  max-height: 50%;
  z-index: -1;
  opacity: 0.35;
  filter: alpha(opacity=35);
  filter: blur(1px);
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
}

a.link:hover {
    text-shadow: 1px 1px white;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -7em;
}

.footer, .push {
  height: 6em;
}

.footer {
  float: right;
  font-size: 1.15em;
}

.navbar {
  position: relative;
  top: 15% !important;
  transform: translateY(100%);
}

.nav {
  list-style-type: none;
}

.nav li {
  line-height:2em;
}


/* Content from contact.css */
#third_background {
  position: fixed; 
  top: -50%; 
  left: -95%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
}

#third_background img {
  position: absolute; 
  top: 0; 
  left: 0; 
  float: left;
  right: 0; 
  bottom: 0; 
  margin: auto; 
  max-height: 60%;
  max-width: 20%;
  z-index: -1;
  opacity: 0.35;
  filter: alpha(opacity=35);
  filter: blur(1px);
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
}

a:hover {
    text-shadow: 1px 1px #B6B6B4;
}

#right_content {
	padding-left: 12%;
	text-align: center;
}

.contact_lists {
	font-size:18px;
	padding-top: 8%;
	line-height: 170%;
}

.list_title {
    text-shadow: 1px 1px grey;
}

.greeting {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 30px;
}

.clists li {
	padding: 5px;
}

.clists {
	padding-top: 20px;
}